body {
  --bg: #fff;
  --primaryText: #000;
  --secondaryText: #777;
  background-color: var(--bg);
}body.dark {
  -webkit-font-smoothing: antialiased;
  --bg: #222831;
  --primaryText: #e8e8e8;
  --secondaryText: #9d9d9d;
  color: #f8f9fa;
}
a {
  text-decoration: none;
}